* {
    display: flex;
    flex-direction: column;
}

ul, li {
    margin: 4px;
}


.Introduction
{
    max-width: 780px;
    margin: 3px;
  
}

.ArticleSections {
    flex-direction: row;
    border-color: lawngreen;
    border: 3px solid gray;
   
}
figure{
    flex-direction: row;
}
figcaption{
    
    justify-content: flex-end;
}

@media screen and (max-width: 720px) {
    .ArticleSections { width: 480px;
        flex-direction: column;
        background-color: white;
        font-size: smaller;
    }
    .Introduction{
        font-size: smaller;
    }
    .BradpittPhoto
    {
        width: 280px;
    }
    .BradAndLeoPhoto{
        width: 300px;
    }
    figure{
        flex-direction: column;
    }
    figcaption{
    
        justify-content: none;
    }
}